<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
</head>
<body>
    <h1>Reservation List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Guest ID</th>
                <th>Guesthouse ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i<data.length; i++) { %> 
                <tr>
                    <td><%= data[i].id %> </td>
                    <td><%= data[i].GuestId %></td>
                    <td><%= data[i].GuestHouseId %></td>
                    <td><%= data[i].start_date %></td>
                    <td><%= data[i].end_date %></td>
                    <td><%= data[i].reservation_status %></td>
                    <td><a href="/guesthousereservation/<%= data[i].id %> ">Delete</a></td>
                </tr>
           <% } %> 
        </tbody>
    </table>
</body>
</html>